.card {
  background: linear-gradient(116.71deg, hsla(0, 0%, 65%, 0.13), hsla(0, 0%, 65%, 0) 100.89%);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  border: 1px solid hsla(0, 0%, 65%, 0.4);
}
